@charset "UTF-8";

:root {
    --titulo: hsl(36, 8%, 24%);
    --texto: hsl(33, 4%, 49%);
    --background: rgb(247, 247, 247);

    --verde: rgb(49, 211, 92);
    --ciano: hsl(192, 70%, 51%);
    --azul: hsl(233, 26%, 24%);
}

@media (min-width: 872px) {

    /* Header */

    header {
        position: relative;
        background-color: white;
        max-width: 98vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        align-items: center;
        z-index: 1;
    }

    menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }


    header > button {
        display: block;
    }

    .sidebar {
        display: flex;
        position: relative;
        width: auto;
        top: auto;
        left: auto;
        right: auto;
        margin: auto;
        background-color: none;
        border-radius: none;
        box-shadow: none;
    }

    .itens {
        list-style: none;
        text-align: center;
        line-height: 46px;
        display: flex;

    }

    .itens li:hover {
        cursor: pointer;
        border-radius: 1px;
        box-shadow: 0px 4px 0px var(--verde);
    }

    .burger {
        display: none;
    }

/* Main */

/* Section Inicio */

    .inicio {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-bottom: 100px;
        text-align: center;
    }

    .desc {
        position: relative;
        text-align: left;
        max-width: 30vw;
        margin-left: 6vw;
    }

    .imagens {
        order: 2;
    }

    .fundo {
        width: 500px;
    }

    .cel {
        width: 500px;
    }

    .imagens { 
        position: absolute;
        top: -65px;
        right: 0px;
        overflow-x: hidden;
    }

    .inicio h1 {
        padding: 20px 0px;
        font-size: 2em;
    }

/* Sobre */

    .sobre {
        background-color: var(--background);
        width: 100vw;
        margin-bottom: 80px;
        text-align: left;
    }

    .sobre-text {
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
    }

    .sobre div > h2 {
        text-align: center;
        padding-top: 80px;
        max-width: 300px;
        margin: 0;
        text-align: left;
    }

    .sobre div > h3 {
        padding: 20px 0px;
        margin: auto;
    }

    .sobre div > p {
        max-width: 80vw;
        max-width: 800px;
        margin: 0;
        text-align: left;
    }

    .infos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        text-align: left;
    }

    .infos > div {
        padding: 20px;
        width: 15rem;
    }

/* Artigos */
    
    .artigos {
        text-align: left;
        margin: auto;
        width: 90vw;
    }

    .container-artigos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }

    .container-artigos > div {
        border-radius: 10px;
        box-shadow: 0px 2px 2px rgba(121, 121, 121, 0.507);
        margin-bottom: 30px;
        padding-bottom: 150px;
    }

    .container-artigos > div > h3 {
        padding: 16px;
    }

    .container-artigos > div > p {
        padding: 16px;
    } 

    .container-artigos div > img {
        max-width: 100%;
        height: 40%;
        border-radius: 10px;
    }

/* Footer */

    footer {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        color: white;
        background-color: var(--azul);
    }

    .rp-logo {
        padding: 10px;
        margin: 0px;
        background-color: white;
        border-radius: 2px;
    }

    .social {
        margin-top: 30px;
    }

    .social img {
        width: 30px;
        margin: 5px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
        text-align: left;
    }

    .descricao ul > li {
        margin: 0px;
        list-style: none;
        color: rgb(202, 202, 202);
    }

    footer  p {
    margin-top: 30px;
    }

}