@charset "UTF-8";

@media (min-width: 768px) {

    /* Header */

    header {
        position: relative;
        background-color: white;
        max-width: 98vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        align-items: center;
        z-index: 1;
    }

    menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }


    header > button {
        display: block;
    }

    .burger {
        display: none;
    }

/* Main */

/* Section Inicio */

    .inicio {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding-bottom: 100px;
        text-align: center;
    }

    .desc {
        position: relative;
        text-align: left;
        max-width: 30vw;
        margin-left: 6vw;
    }

    .imagens {
        order: 2;
    }

    .fundo {
        width: 500px;
    }

    .cel {
        width: 500px;
    }

    .imagens { 
        position: absolute;
        top: -65px;
        right: 0px;
        overflow-x: hidden;
    }

    .inicio h1 {
        padding: 20px;
        font-size: 2em;
    }

}