@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Mobile First */

* {
    padding: 0;
    margin: 0;
    font-family: "Public Sans", sans-serif;
    Font-size: 18px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

header > button {
    display: none;
}

menu {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 18rem;
    height: 30vh;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: .5s;
    border-radius: 5px;
}

menu ul li {
    list-style: none;
    text-align: center;
    line-height: 46px;
}