@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --titulo: hsl(36, 8%, 24%);
    --texto: hsl(33, 4%, 49%);
    --background: rgb(247, 247, 247);

    --verde: rgb(49, 211, 92);
    --ciano: hsl(192, 70%, 51%);
    --azul: hsl(233, 26%, 24%);
}

/* Mobile First */

/* Header */

header {
    position: relative;
    background-color: white;
    max-width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
    
}

header > button {
    display: none;
}

.burger {
    padding: 20px;
}

.burger:hover {
    cursor: pointer;
}

.itens {
    display: none;
    list-style: none;
    text-align: center;
    line-height: 46px;
}

/* Main */

/* Section Inicio */

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    padding-bottom: 100px;
    text-align: center;
}

.fundo {
    width: 100vw;
}

.cel { 
    position: absolute;
    top: -65px;
    left: 2%;
    width: 90vw;
    overflow-x: hidden;
}

.inicio h1 {
    padding: 20px;
    font-size: 2em;
}

/* Section Sobre */

.sobre {
    background-color: var(--background);
    width: 100vw;
    margin-bottom: 80px;
    text-align: center;
}

.sobre div > h2 {
    text-align: center;
    padding-top: 80px;
    max-width: 300px;
    margin: auto;
}

.sobre div > h3 {
    padding: 20px;
    margin: auto;
}

.sobre div > p {
    max-width: 80vw;
    margin: auto;
}

/* Section Artigos */

.artigos {
    margin: auto;
    width: 80vw;
}

.container-artigos > div {
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(121, 121, 121, 0.507);
    margin-bottom: 30px;
}

.container-artigos div > img {
    width: 100%;
    border-radius: 10px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
    color: white;
    background-color: var(--azul);
}

.rp-logo {
    padding: 10px;
    margin-top: 30px;
    background-color: white;
    border-radius: 2px;
}

.social {
    margin-top: 30px;
}

.social img {
    width: 30px;
    margin: 5px;
}

.descricao ul > li {
    margin: 20px;
    list-style: none;
    color: rgb(202, 202, 202);
}

.descricao ul > li > a {
    color: rgb(202, 202, 202);
    text-decoration: none;
}

.descricao ul > li > a:hover{
    color: white;
    text-decoration: underline;
}

footer  p {
margin-top: 30px;
}